@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

$accent-color: #88089B;
$secondary-color: #E10081;
$light-grey: #f1f1f1;

* {
	font-family: "EB Garamond", sans-serif;
}

body {
	margin: 0;
}

section {
	min-height: 100vh;
}

// #fold {
	// 	.cycle-bg-image {
	// 		background-size: cover !important;
	// 	}
	// 	img.logo {
	// 		display: block;
	// 		margin: 2.5vw auto;
	// 		padding-left: 2.5vw;
	// 		padding-right: 2.5vw; 
	// 		position: absolute;
	// 		width: 50vw;
	// 	}
	// 	.bottom {
	// 		width: 100%;
	// 		position: absolute;
	// 		bottom: 2.5vw;
	// 		%center {
	// 			display: block;
	// 			text-align: center;
	// 			color: white;
	// 			margin: 0 auto;
	// 		}
	// 		a.trailer {
	// 			@extend %center;
	// 			padding: .5em;
	// 			text-transform: uppercase;
	// 			font-weight: 700;
	// 		}
	// 		i.fa {
	// 			@extend %center;
	// 			font-size: 1.5rem;
	// 		}
	// 	}
	// 	img.cff {
	// 		height: 4rem;
	// 		position: absolute;
	// 		right: 0;
	// 		margin-top: 2.5vw;
	// 		margin-right: 2.5vw;
	// 	}
// }

#fold {
	background-image: url(/assets/img/pattern.png);
	background-size: 10%;
	min-height: 1px;
	padding: 2.5rem 0 5rem;
	.logo-container {
		img.logo {
			width: 100vw;
			display: block;
		}
		.lower {
			display:flex;
			flex-drection: row;
			padding: 2rem 2rem 0 2rem;
			.supported {
				width: 50vw;
				h2 {
					font-family: "EB Garamond", serif;
					font-weight: normal;
				}
				ul {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					li {
						margin-right: 1rem;
						a {
							img {
								height: 3.5rem;
							}
						}
					}
				}
			}
			.credits {
				width: 50vw;
				text-align: right;
				p {
					text-align: right;
					width: 100%;
					margin-bottom: .5rem;
					a {
						margin-left: 1rem;
						color: $secondary-color;
					}
				}
			}
		}
	}
}

#synopsis {
	background: $accent-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	p {
		@include outer-container;
		color: white;
		font-size: 1.75rem;
		padding: 0 2.5vw; 
		margin-bottom: 0;
	}
}

#twitter-feed {
	background: $light-grey;
	padding: 2.5vw 0;
	ul {
	 	display: flex;
	 	li {
	 		width: 33.3vw;
	 		padding: 0 2.5vw;
	 		border-right: 1px solid darken($light-grey, 5%);
	 		p {
	 			margin-bottom: 0;
	 		}
	 		a {
	 			color: $secondary-color;
	 			text-decoration: underline;
	 		}
	 		&:last-child {
	 			border-right: 0;
	 		}
	 	}
	}
}

#team {
	display: flex;
	flex-direction: column;
	justify-content: center;
	.container {
		padding: 0 2.5vw;
		> div {
			@include outer-container;
			* {
				display: inline;
				color: $accent-color;
			}
			h2 {
				display: block;
				text-transform: uppercase;
				margin-bottom: 0;
				font-family: "script", "EB Garamond", serif;
				font-sie: 1.5rem;
			}
			dl {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: flex-start;
				div {

				}
				dt {
					font-weight: normal;
					color: $secondary-color;
					font-family: "script", "EB Garamond", serif;
				}
				dd {
					margin-right: 1rem;
				}
			}
		}
		.crew h2 {
			margin-top: 2.5vw;
		}
	}
}

// #trailer {
// 	iframe {
// 		width: 100vw;
// 		height: 100vh;
// 	}
// }

#support {
	@include linear-gradient(to right, $accent-color, $secondary-color, $fallback: $secondary-color);
	a h1 {
		color: white;
		text-align: center;
		padding: 4rem;
		font-size: 1.75rem;
		font-family: "script", "EB Garamond", serif;
		text-transform: uppercase;
		i {
			@include transition;
			font-size: .7em;
		}
		&:hover {
			i {
				@include transition;
				margin-left: 1rem;
			}
		}
	}
}

#future {
	display: flex;
	flex-direction: column;
	> * {
		min-height: 50vh;
	}
	.about {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 5vw 2.5vw;
		p {
			margin-bottom: 0;
			&:last-child {
				margin-bottom: 1em;
			}
		}
		* {
			font-size: 1.25rem;
		}
		> * {
			@include outer-container;
		}
	}
	.bios {
		display: flex;
		flex-direction: row;
		> li {
			width: 50vw;
			img {
				width: 100%;
			}
			.inner {
				padding: 2.5vw;
				p {
					margin-bottom: 2.5vw;
				}
				a {
					text-transform: uppercase;
					font-weight: 700;
					text-decoration: none;
					color: $accent-color;
					font-family: "script", "EB Garamond", serif;
				}
				ul {
					padding-bottom: 2.5vw;
				}
				.name {
					color: $accent-color;
				}
			}
			&:last-child .inner {
				a {
					color: $secondary-color;
				}
				.name {
					color: $secondary-color;
				}
			}
		}
	}
}

#contact {
	background: $accent-color;
	display: flex;
	flex-direction: row;
	.left {
		background: $accent-color;
		* {
			text-align: center;
			color: white;
		}
		.social {
			margin-bottom: 2rem;
			li {
				display: inline;
				margin: 0 1rem;
				a {
					i {

					}
				}
			}
		}
		.person {
			p {
				margin: .5rem;
				&.name {
					font-family: "script", "EB Garamond", serif;
					font-size: 1.5rem;
				}
			}
			a {
				display: block;
				margin: .5rem;
				text-decoration: underline;
			}
		}
	}
	> * {
		width: 50vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.right{
		@extend .left;
		background-color: $secondary-color;
	}
}

#copyright {
	text-align: center;
	padding: 1rem 0;
	p {
		margin-bottom: 0;
		a {
			color: $accent-color;
			text-decoration: underline;
		}
	}
}

@import "responsive";